*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   padding: 2px;
   background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   max-width: auto;
   overflow: hidden;
}

section{
    margin: 45px auto;
    border: 3px solid orange;
    border-radius: 20px;
}
section:hover{
    box-shadow: 0 0 10px #ccc;
}

 /* button Part  */
.balance{
    height: 50px;
    width: 200px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
    font-size: 25px;
    color: #24243e;
    max-width: auto;
}

/* .balance:hover{
      border-radius: 10px;
      box-shadow: 0 -3px 2px 0.2px lightslategrey, 0 0 5px -2px lightslategrey;
      color: white;
      font-weight: 800;
} */

.btn-main{
    padding: 15px;
    float: right;
    text-align: center;   
 
}

 /* Display Part  */
.input-align{
     padding: 55px;
     width: 830px;
     border: 2px solid transparent;
}

.screen{
     height: 70px;
     width: 690px;
     text-align: start;
     font-size: 30px;
     background-color: rgb(130, 140, 120);
     cursor: pointer;
     color: aliceblue;
     border-radius: 20px;
     font-weight: bold;
     font-family:sans-serif;
    }

.screen:hover{
    border-radius: 10px;
    border: 2px solid white;
}

.start-btn{
    padding: 15px;
    text-align: center; 
    margin-top: 10px;
}

.start{
    padding: 10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 20px;
    background-image: radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: border-box,content-box;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}


.category{
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    
}




.debit{
    height: 222px;
    width: 200px;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    font-size: 20px;
}

.Credit{
    height: 222px;
    width: 200px;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    font-size: 20px;
}














